:root {
  --light: aqua;
}

* {
  box-sizing: border-box;
  margin: 0%;
}

body {
  font-family: Arial;
  margin: 0;
}


/* header picture set */
header {
  background-image: url("./image/BitesizedD.gif");
  width: 100%;
  height: 25vh;
} 

/* nav bar begins .. Trouble with href link color */
nav {
  display: flex;
  background-color: #0b0b0b;
  justify-content: space-between;
  /* width: 100%; */
}

header .Subtitle {
  color: #0b0b0b;
  position: absolute;
  right: 10vh;
  top: 15%;
  border: #0b0b0b;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
}

nav ul li {
  text-decoration: none;
  /* justify-content: space-between; */
  display: inline-block;
  padding: 20px;
}

h1 {
  background-origin: inherit;
  padding-top: 15px;
  color: aliceblue;
}

/* The right side border only for the h3 tags couldn't figure it out */
h3 {
  position: absolute;
  font-size: 30px;
  margin-left: 25%;
  color: black;
}

ul {
  list-style-type: none;

}

li {
  /* Sets display to inline */
  display: inline;
  list-style-type: none;
 }

/* Nav bar ends */
.para {
  padding-top: 5%;
}

p {
  margin-left: 35%;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 5%;
  padding-bottom: 5%;
}

.grid {
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(75px, 25px);
  font-size: 28px;
  font-family: fantasy;
  color: rgb(127, 130, 141);
  cursor: pointer;
}

#cards:hover {
  opacity: o.7;
  transform: scale(0.98);
  transition: all 0.5s ease-in-out;
}

.box1 {
  grid-column: 2/4;
  grid-row: 1/5;
  border: 4px solid black;
  background-image: url("./image/box1.webp");
}

.box2 {
  grid-column: 2/3;
  grid-row: 5/7;
  border: 4px solid black;
  background-image: url("./image/box2.jpeg");
}

.box3 {
  grid-column: 3/4;
  grid-row: 5/7;
  border: 4px solid black;
  background-image: url("./image/box3.jpeg");
}

.box4 {
  grid-column: 3/4;
  grid-row: 7/9;
  border: 4px solid black;
  background-image: url("./image/box4.webp");
}

.box5 {
  grid-column: 2/3;
  grid-row: 7/9;
  border: 4px solid black;
  background-image: url("./image/box5.jpeg");
}

.footer {
  color: white;
  margin-left: 47%;
  padding-top: 1em;
  word-spacing: 10em;
  text-decoration: none;
  padding-bottom: 3%;
}

@media screen and (max-width: 776px) {
  .row {
    flex-direction: column;
  }
}